
body{
    margin: 0;
    background-color:black;
}

.container{
    
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.content{
   display: flex;
   flex-direction: row;
   gap: 5px;
   color:white;
   list-style:none;
   align-items:baseline;
   justify-content: space-between;
   
   
    
}
ul li{
    list-style: none;
   
}
li a{
   color: white; 
  
   
}
a{
    text-decoration: none;
   

}
li:hover{
     background-color:#545454;
    border:none;
    border-radius: 5px;
   
}
.login{
    background-color: #545454;
    color: white;
    border:none;
    border-radius: 5px;
    margin: 5px;
    padding:5px;


}
.signup{
    background-color: white;
    color:black;
    border-radius: 10px;
    border:none;
    margin: 5px;
    padding: 5%;
    width:70px
}
.main-content{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    margin-left:40px;
   
}
input[type=text]{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width:30%;
    height:50px;
    border-radius: 5px ;
    border:none;
    background-color: #f6f6f6;
    
}
input[type=submit]{
    margin: 5px;
    padding: 5px;
    width:15%;
    height:50px;
    border-radius: 5px ;
    border:none;
    color:black;
    background-color: #f6f6f6;
    cursor: pointer;
    
    
    
}
.uber{
   float:right;
   width:558px;
   height: 698px;
    
}
